body
{
	font-family: "Dancing Script", Helvetica, "Time New Roman";
	background-color: #02010a;
}

img
{
	box-shadow: 2px 2px 3px #02010a;
	width: 100%;
}

#contenido
{
	background-color: #82c3a6;
	margin: auto;
	width: 900px;
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
}

#imagenRetrato, #imagenPaisaje
{
	background-color: #d5c75f;
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
	border: 1px;
	text-align: center;
}

#imagenPaisaje img:hover
{
	transform: rotate(10deg);
  	box-shadow: 2px 2px 2px 2px #82c3a6;
}

#imagenRetrato img:hover
{
	animation: animacionPaisaje 1s;
  	box-shadow: 2px 2px 2px 2px #82c3a6;
}


#contenido > .imgBox
{
	background-color: #82c3a6;
}

#banner
{
	width: 100%;
	padding: 10px 50px;
    box-sizing: border-box;
}

#banner img
{
	height: 350px;
}


#cabecera
{
	border-radius: 10px 10px 0 0;
	height: 100px;
	background-color: #5b7989;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 900px;
	margin: auto;
    padding: 10px;
	align-items: center;
}

#cabecera > *
{
	width: 50%;
}

#titulo
{
	color:white;
	text-shadow: 2px 2px #02010a;
}
#menu ul
{
	list-style-type: none;
  	text-align: right;
}

#menu li
{
	display: inline;
  	/*text-align: center;*/
  	margin: 0 10px 0 0;
}

#menu li a 
{
   padding: 2px 7px 2px 7px;
   color: #fff;
   text-decoration: none;
}

#pie
{
	/*text-align: center;*/
	background-color: #C6d5c5;
	/*border: solid 2px red;*/
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 900px;
	margin: auto;
	padding: 25px;
	border-radius: 0 0 10px 10px ;
}

#pie ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}
#pie h3
{
	padding: 0;
	margin: 0;
}

#pie  > div
{
	width: 25%;
	
}

.icon img
{

	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width: 40px;
}


@media(max-width: 900px)
{
	#pie > div, #titulo, #menu, #contenido > * {
		width: 100%;
	}
}

@-webkit-keyframes animacionPaisaje{
  0% {
    position: relative;
    left: 0px;
  }
  50% {
    position: relative;
    left: 20px;
    bottom: 5px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}